<div class="d-flex justify-content-right flex-wrap justify-content-end ">
  <button (click)="(this.loadRecipe(null))" class="btn btn-light addRecipe" routerLink='recipe' type="button">+ New
    Recipe
  </button>
</div>

<div class="d-flex justify-content-center flex-wrap">

  <div class="recipeList" *ngFor="let item of Items">
    <div class="listItem" routerLink='recipe' (click)="(loadRecipe(item._id))">
      <span class="listDate">{{item.cur_version.date | date:'dd/MM/yyyy'}}</span>
      <img class="listImage" src={{item.img}} alt={{item.title}}>
    </div>
    <p class="listTitle">{{item.title}}</p>
  </div>

</div>
