<div class="container">
  <div *ngIf="item.editMode!==false">
    <form #newRecipeForm="ngForm">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="title">Title</label>
        <input [(ngModel)]="item.title" class="form-control" id='title' name="title" required
               type="text">
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="imgSrc">Image source</label>
        <input [(ngModel)]="item.img" class="form-control" id='imgSrc' name="imgSrc" required
               type="text">
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="cur_versionIngredients">Ingredients</label>
        <input [(ngModel)]="item.cur_version.ingredients" class="form-control" id='cur_versionIngredients'
               name="cur_versionIngredients"
               required
               type="text"
               value={{item.cur_version.ingredients}}>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="cur_versionRecipe" required>Recipe</label>
        <textarea [(ngModel)]="item.cur_version.recipe" class="form-control" id='cur_versionRecipe'
                  name="cur_versionRecipe"
        ></textarea>
      </div>
    </form>
    <div class="NewRecipeButtons d-flex justify-content-right flex-wrap justify-content-end">
      <button (click)="onCancel()" class="btn btn-light recipeButton" type="button">Cancel</button>
      <button (click)="createRecipe()" [disabled]="newRecipeForm.form.invalid"
              class="btn btn-light recipeButton" type="submit">Save
      </button>
    </div>
    <div *ngIf="!newRecipeForm.valid" class="alert alert-danger">All inputs need to be filed!
    </div>
  </div>

  <div *ngIf="item.editMode===false">
    <div class="recipeDetails">
      <div class="row ">
        <div class="col-md-4"><img alt="" class="recipeImage" src={{item.img}}></div>
        <div class="col-md-8">
          <h3>{{item.title}}</h3>
          <div class="d-flex flex-wrap">
            <div *ngFor="let ing of item.cur_version.ingredients">
              <div class="ingredientItem">
                {{ing}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="textDescription">{{item.cur_version.recipe}}</div>
      <div class="d-flex justify-content-right flex-wrap justify-content-end">
        <button (click)="onEdit()" class="btn btn-light recipeButton" type="button">Edit</button>
        <button (click)="showPrev_version()" class="btn btn-light recipeButton" type="button">Previous versions</button>
      </div>
    </div>
  </div>

  <div class="prev-version">
    <p *ngIf="item. prev_version.length==0">There is no previous versions of this recipe</p>
    <div *ngIf="item.prev_version.length!==0">
      <div *ngFor="let i of item.prev_version">
        <hr>
        <span>{{i.date}}</span>
        <p>{{i.ingredients}}</p>
        <p>{{i.recipe}}</p>
      </div>
    </div>
  </div>
</div>
